<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> Admin Profile </title>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/vendors/feather/feather.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/vendors/typicons/typicons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/vendors/simple-line-icons/css/simple-line-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/vendors/css/vendor.bundle.base.css' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/js/select.dataTables.min.css' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/css/vertical-layout-light/style.css' %}">

  <link rel="shortcut icon" type="text/css" href="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/images/favicon.png' %}" />
</head>
<body>
        
    <div class="container-scroller"> 
        <!-- partial:partials/_navbar.html -->
        {% include 'navbar.html' %}


        <div class="container-fluid page-body-wrapper">
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            {% include 'sidebar.html' %}


            <!-- partial -->
            
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title"></h4>
                                <p class="card-description"> </p>
                                <form class="forms-sample" method="POST" action="{% url 'update_profile' %}" enctype="multipart/form-data">
                                    {% for user in users %}
                                    <div class="form-group">
                                        <label for="name"> Name</label>
                                        <input type="text" class="form-control form-control-lg"  value="{{user.name}}" name="name" id="id_name" placeholder=" Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control form-control-lg" value="{{user.email}}" name="email" id="id_email" placeholder="Email">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="password">Current Password </label>
                                        <input type="password" class="form-control form-control-lg" name="password" id="id_password" placeholder="Current Password">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="newpassword">New Password </label>
                                        <input type="password" class="form-control form-control-lg" name="newpassword" id="id_newpassword" placeholder="New Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmnewpassword">Confirm New Password  </label>
                                        <input type="password" class="form-control form-control-lg" name="confirmnewpassword" id="id_confirmnewpassword" placeholder="Confirm New Password ">
                                    </div>
                                    <button type="submit" id="my-button" class="btn btn-primary me-2">Submit</button>
                                    <button class="btn btn-light">Cancel</button>
                                    {% endfor %}
                                </form>
                              </div> 
                            </div>
                          </div>
       
                        <footer class="footer">
                            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                                <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
                                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>   

  
    {% load static %}

    <script>
      jQuery(document).ready(function() {
          jQuery("#my-button").click(function(e) {
              var passwordenter = jQuery("#id_newpassword").val();
              var passwordagain = jQuery("#id_confirmnewpassword").val();
              var password = jQuery("#id_password").val();

              if (passwordenter === passwordagain) {
                  jQuery.ajax({
                      url: "{% url 'update_profile' %}",
                      type: "POST",
                      success: function(response) {
                          console.log("Successfully Updated");
                      },
                      error: function(xhr, status, error) {
                          console.log("Error occurred: ", error);
                      }
                  });
              } else {
                  alert("Entered Password does not match");
                  e.preventDefault();
              }
          });
      });
  </script>
  
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

     <!-- inject:js -->
  <script type="text/javascript" src="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/vendors/js/vendor.bundle.base.js' %}"></script>
  <script type="text/javascript" src="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/js/off-canvas.js' %}"></script>
  <script type="text/javascript" src="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/js/hoverable-collapse.js' %}"></script>
  <script type="text/javascript" src="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/js/template.js' %}"></script>
  <script type="text/javascript" src="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/js/settings.js' %}"></script>
  <script type="text/javascript" src="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/js/todolist.js' %}"></script>
  <!-- endinject -->

</body>
</html>