<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">
  
    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />
  
        {% load static %}
          <!-- Bootstrap CSS -->
          <link href="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/shop/css/bootstrap.min.css' %}" rel="stylesheet">
          <link href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet' %}">
          <link href="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/shop/css/tiny-slider.css' %}" rel="stylesheet">
          <link href="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/shop/css/style.css' %}" rel="stylesheet">
          <title> Empty Cart :( </title>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
            <style>
                .hero {
                    padding: calc(4rem - 30px) 0 1rem 0;
                }

                img.cart-cat {
                    border: 5px solid black;
                }

                .empty-cart{
                    color:#112A46;
                }

                h5.empty-cart-sub {
                    color: #193e67;
                    margin-top: 23px;
                }

                button#gotoshop {
                  margin-top: 276px;
                  margin-left: 504px;
              }
            </style>
        </head>
  
      <body>
    <!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="http://127.0.0.1:8000/home/">VogueVault<span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item active">
							<a class="nav-link" href="http://127.0.0.1:8000/home/">Home</a>
						</li>
						<li><a class="nav-link" href="{% url 'shop' %}">Shop</a></li>
						<li><a class="nav-link" href="{% url 'about_us' %}">About us</a></li>
						<li><a class="nav-link" href="{% url 'contact_us' %}">Contact us</a></li>
					</ul>
					
					
					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li><a class="nav-link" id="showcollapsed" href="#"><img src="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/shop/images/search.svg' %}"></a></li>
						<div class="dropdown">
							<li>
								<a class="nav-link" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><img src="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/shop/images/user.svg' %}"></a>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li>
                    <a class="nav-link useract" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><img src="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/shop/images/user.svg' %}"></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="{% url 'user_profile' %}">User Profile</a></li>
                      <li><a class="dropdown-item" href="{% url 'wishlist' %}">Wishlist</a></li>
                      <li><a class="dropdown-item" href="{% url 'my_order' %}">Orders</a></li>
                      <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
                    </ul>
                  </li>
						  </div>
						  <li><a class="nav-link" href="{% url 'cart' %}"><img src="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/shop/images/cart.svg' %}"></a></li>
					</ul>
				</div>
			</div>
				
		</nav>
		<!-- End Header/Navigation -->

        <!-- Start Hero Section -->
          <!-- End Hero Section -->
  
          
  
          <div class="untree_co-section before-footer-section">
              <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <img class="cart-cat" src="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/shop/images/cat-cart.gif' %}">
                    </div>
                    <div class="col-lg-7">
                        <h1 class="empty-cart">Cart is Empty! :(</h1>
                        <h5 class="empty-cart-sub">Use Search Bar or Browse Menu to find your Perfect Fit and Add to Cart!</h5>
                        <button class="btn btn-outline-black btn-sm btn-block" id="gotoshop">Continue Shopping</button>
                    </div>
                </div>
              </div>
            </div>
          
  
          <!-- Start Footer Section -->
		
		<!-- End Footer Section -->
          <script>
            jQuery('#gotoshop').on('click', function(e){
                window.location.href="http://127.0.0.1:8000/home/shop/?sortby=new-items";
                console.log("http://127.0.0.1:8000/home/shop/");
            });
        </script>
          <script src="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/shop/js/bootstrap.bundle.min.js' %}"></script>
          <script src="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/shop/js/tiny-slider.js' %}"></script>
          <script src="{% static 'C:/Users/Khushi/Documents/ecareinfoway/mysite/Scripts/ecommerce/static/shop/js/custom.js' %}"></script>
      </body>
